<div class="home-page">
<h3> Home </h3>
<form method="POST" action="/search-artist">
    <label>
        <input type="text" name="artist" placeholder="Search an artist"/>
    </label>
    <button>Search</button>
</form>
</div>